.body {
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1280px;
    min-width: 320px;
}