.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    max-width: calc(100% - 96px);
    margin: 0 auto;
    padding-top: 92px;
}
  
@media screen and (max-width: 1023px) {
    .photo-grid {
        padding-top: 88px;
        max-width: calc(100% - 48px);
    }
}
  
@media screen and (max-width: 767px) {
    .photo-grid {
        padding-top: 64px;
        max-width: calc(100% - 32px);
        grid-gap: 12px;
    }
}