.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 66px;
    max-width: 984px;
}
  
@media screen and (max-width: 1024px){
    .lead {
        margin-top: 58px;
        max-width: calc(100% - 96px);
    }
}
  
@media screen and (max-width: 768px){
    .lead {
        max-width: 100vw;
    }
}
  
  
@media screen and (max-width: 320px) {
    .lead {
        margin-top: 50px;
        max-width: 100vw;
    }
}