.places {
    margin: 92px auto 0;
    max-width: calc(100% - 296px);
}
  
@media screen and (max-width: 1279px) {
    .places {
        max-width: calc(100% - 96px);
    }
}
  
@media screen and (max-width: 1023px) {
    .places {
        margin-top: 88px;
        max-width: calc(100% - 48px);
    }
}
  
@media screen and (max-width: 767px) {
    .places {
        margin-top: 66px;
        max-width: 100%;
    }
}