.cover__subtitle {
    margin: 32px 0 0;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .cover__subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.14;
    }
}