.header__logo {
    width: 176px;
    height: 52px;
    background-size: contain;
    background-image: url(../../../images/__logo.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}