.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 92px;
    max-width: calc(100% - 296px);
}

@media screen and (max-width: 1279px) {
    .intro {
      max-width: calc(100% - 96px);
    }
}
  
  
@media screen and (max-width: 767px) {
    .intro {
        padding-top: 88px;
        max-width: calc(100% - 48px);
    }
}
  
@media screen and (max-width: 319px) {
    .intro {
        padding-top: 64px;
        max-width: calc(100% - 32px);
    }
}