.places__place {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 48px;
    grid-template-rows: auto ;
}
  
.places__place:first-child {
    margin-top: 0;
}
  
@media screen and (max-width: 1024px) {
    .places__place {
        margin-top: 97px;
        grid-gap: 32px 48px;
    }
}
  
@media screen and (max-width: 768px) {
    .places__place {
        margin-top: 72px;
        grid-gap: 28px 48px;
    }
}
  
@media screen and (min-width: 320px) and (max-width: 700px) {
    .places__place {
        margin-top: 48px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 32px 32px;
        grid-template-rows: auto ;
    }
  }