.footer {
    margin: 92px auto 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 24px;
    max-width: calc(100% - 96px);
}
  
@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}
  
@media screen and (max-width: 767px) {
    .footer {
        margin-bottom: 32px;
        max-width: calc(100% - 32px);
        flex-direction: column;
    }
}
  