@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__links-item {
      margin-top: 32px;
      margin-left: 16px;
    }
    .footer__links-item:first-child {
      margin-top: 0;
    }
}
  