.intro__title {
  margin: 0;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  text-align: left;
}
 
@media screen and (max-width: 319px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}